name: Build all packages

permissions:
  contents: write

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  tag_build:
    runs-on: ubuntu-latest
    outputs:
      build_tag: ${{ steps.tag_build.outputs.build_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: 'recursive'

      - name: Tag Build
        id: tag_build
        shell: bash -l {0}
        run: |
          export BUILD_TAG=test-$(date "+%Y.%m.%d")
          git tag ${BUILD_TAG}
          git push origin tag ${BUILD_TAG} -f
          echo "BUILD_TAG=${BUILD_TAG}" >> "$GITHUB_ENV"
          echo "build_tag=${BUILD_TAG}" >> "$GITHUB_OUTPUT"

      - name: Upload Source
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          python3 package/rattler-build/scripts/make_version_file.py ../freecad_version.txt
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git config user.name 'github-actions[bot]'
          git apply package/rattler-build/scripts/disable_git_info.patch
          git commit -a -m "Disable git info write to Version.h"
          git archive HEAD -o freecad_source_${BUILD_TAG}.tar
          git submodule foreach --recursive \
            "git archive HEAD --prefix=\$path/ -o \$sha1.tar && \
             tar -A -f \$toplevel/freecad_source_${BUILD_TAG}.tar \$sha1.tar && \
             rm \$sha1.tar"
          gzip freecad_source_${BUILD_TAG}.tar
          sha256sum freecad_source_${BUILD_TAG}.tar.gz > freecad_source_${BUILD_TAG}.tar.gz-SHA256.txt
          gh release create ${BUILD_TAG} --title "Weekly Build ${BUILD_TAG}" --notes "Weekly Build ${BUILD_TAG}" --prerelease || true
          gh release upload --clobber ${BUILD_TAG} "freecad_source_${BUILD_TAG}.tar.gz" "freecad_source_${BUILD_TAG}.tar.gz-SHA256.txt"

  build:
    needs: tag_build
    strategy:
      matrix:
        include:
          - { target: linux-64, os: ubuntu-22.04 }
          - { target: linux-arm64, os: ubuntu-22.04-arm }
          - { target: osx-64, os: macos-13 }
          - { target: osx-arm64, os: macos-latest }
          - { target: win-64, os: windows-latest }
      fail-fast: false
    env:
      CCACHE_DIR: ${{ github.workspace }}/ccache
      CCACHE_CONFIGPATH: ${{ github.workspace }}/ccache/config
      CCACHE_MAXSIZE: 1G
      CCACHE_COMPRESS: true
      CCACHE_COMPRESSLEVEL: 5
      cacheKey: weekly-${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set Platform Environment Variables
        shell: bash -l {0}
        env:
          BUILD_TAG: ${{ needs.tag_build.outputs.build_tag }}
          OPERATING_SYSTEM: ${{ runner.os }}
        run: |
          echo "BUILD_TAG=${BUILD_TAG}" >> "$GITHUB_ENV"
          if [[ $OPERATING_SYSTEM == 'Windows' ]]; then
            echo 'CCACHE_COMPILERCHECK=%compiler%' >> "$GITHUB_ENV"
            echo 'PIXI_CACHE_DIR=D:\rattler' >> "$GITHUB_ENV"
            echo 'RATTLER_CACHE_DIR=D:\rattler' >> "$GITHUB_ENV"
          else
            echo 'CCACHE_COMPILERCHECK=%compiler% -dumpfullversion -dumpversion' >> "$GITHUB_ENV"
          fi

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: 'recursive'

      - uses: prefix-dev/setup-pixi@v0.8.3
        with:
          pixi-version: v0.42.1
          cache: false

      - name: Restore Compiler Cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: FC-${{ env.cacheKey }}-${{ github.ref }}-${{ github.run_id }}
          restore-keys: |
            FC-${{ env.cacheKey }}-${{ github.ref }}-
            FC-${{ env.cacheKey }}-

      - name: Print CCache statistics before build, reset stats and print config
        run: |
          pixi run ccache -s
          pixi run ccache -z
          pixi run ccache -p

      - name: Build and Release Packages
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          TARGET_PLATFORM: ${{ matrix.target }}
          UPLOAD_RELEASE: "true"
        run: |
          cd package/rattler-build
          pixi install
          pixi run -e package create_bundle

      - name: Print ccache Statistics After Build
        run: |
          pixi run ccache -s

      - name: Save Compiler Cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: FC-${{ env.cacheKey }}-${{ github.ref }}-${{ github.run_id }}
